.lapa-body{
  .snptwdgt-container{
    .snptwdgt__ftr {
      display: none;
    }
    .snptwdgt__item{
      .snptlinked-item-ico {
        font-size: 16px;
        padding: 20px;
        background-color: #000;
      }
      .fauximg-bin{
        .snpt__fauximg{
          padding-bottom: 84% !important;
        }
      }
    }
  }
}

.slider-image-overlay{
  .slick-slide{
    img{
      filter: grayscale(100);
      -webkit-filter: grayscale(100);
      opacity: 0.6;
      @include single-transition();
    }
    &:hover{
      img{
        filter: grayscale(0);
        -webkit-filter: grayscale(0);
        opacity: 1;
      }
    }
  }
}
.slider-item-middle.la-carousel-wrapper{
  .slick-track {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
  }
}

.vc_row{
  &.vc_row-no-padding{
    &.la_row_gap_80 {
      padding-left: 15px;
      padding-right: 15px;
      @media (min-width: 1300px) {
        padding-left: 55px;
        padding-right: 55px;
      }
      @media (min-width: 1400px) {
        padding-left: 65px;
        padding-right: 65px;
      }
      @media (min-width: 1500px) {
        padding-left: 80px;
        padding-right: 80px;
      }
    }
    &.la_row_gap_120{
      padding-left: 15px;
      padding-right: 15px;
      @media (min-width: 1300px) {
        padding-left: 55px;
        padding-right: 55px;
      }
      @media (min-width: 1400px) {
        padding-left: 65px;
        padding-right: 65px;
      }
      @media (min-width: 1500px) {
        padding-left: 120px;
        padding-right: 120px;
      }
    }
  }
  &[data-vc-stretch-content="true"]{
    &:not(.vc_row-no-padding){
      &.la_row_gap_80 {
        padding-left: 0;
        padding-right: 0;
        @media (min-width: 1300px) {
          padding-left: 40px;
          padding-right: 40px;
        }
        @media (min-width: 1400px) {
          padding-left: 50px;
          padding-right: 50px;
        }
        @media (min-width: 1500px) {
          padding-left: 65px;
          padding-right: 65px;
        }
      }
      &.la_row_gap_120{
        padding-left: 0;
        padding-right: 0;
        @media (min-width: 1300px) {
          padding-left: 40px;
          padding-right: 40px;
        }
        @media (min-width: 1400px) {
          padding-left: 50px;
          padding-right: 50px;
        }
        @media (min-width: 1500px) {
          padding-left: 105px;
          padding-right: 105px;
        }
      }
    }
  }
}


span.custom-badge {
  background: #232324;
  color: #fff;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  line-height: 49px;
  position: absolute;
  bottom: 50%;
  margin-left: 5%;
  font-weight: normal;
  font-size: 10px;
}

.line-gradient .la-line{
  height: 100%;
  border: none !important;
  background-image: linear-gradient(90deg, $primary-color 0%, #f5bbbb 100%);
}


.line-gradient2 .la-line{
  height: 100%;
  border: none !important;
  background-color: #7e8ce2;
  @include background_gradient(#7e8ce2, #f54a5f);
}

.la-members--style-2 .la-member__info:before,
.la_background_gradient{
  background-color: #93ddff;
  @include background_gradient(#fabb98, #93ddff);
}
.la_background_gradient2{
  background-color: #ea5f72;
  @include background_gradient(#fabb98, #ea5f72);
}

.la_text_gradient{
  color: #fabb98;
  @include background_gradient(#fabb98,#93ddff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.la_text_gradient1{
  color: #fabb98;
  @include background_gradient(#fabb98,#93ddff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.la_text_gradient2{
  color: #ea5f72;
  @include background_gradient(#fabb98,#ea5f72);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.row--maxwidth-1920,
.la_row_max_width_1920{
  max-width: 1920px;
}

.row--maxwidth-1440{
  max-width: 1470px;
}
.vc_row.row--maxwidth-1500{
  max-width: 1500px;
}

.column-wrapper--maxwidth--1500{
  >.vc_column-inner>.wpb_wrapper{
    width: 1500px;
    max-width: 100%;
  }
}

.column-wrapper--maxwidth--800{
  >.vc_column-inner>.wpb_wrapper{
    width: 800px;
    max-width: 100%;
  }
}

.column-wrapper--maxwidth--750{
  >.vc_column-inner>.wpb_wrapper{
    width: 750px;
    max-width: 100%;
  }
}

.column-wrapper--maxwidth--700{
  >.vc_column-inner>.wpb_wrapper{
    width: 700px;
    max-width: 100%;
  }
}

.column-wrapper--maxwidth--650{
  >.vc_column-inner>.wpb_wrapper{
    width: 650px;
    max-width: 100%;
  }
}

.column-wrapper--maxwidth--570{
  >.vc_column-inner>.wpb_wrapper{
    width: 570px;
    max-width: 100%;
  }
}
.column-wrapper--maxwidth--500{
  >.vc_column-inner>.wpb_wrapper{
    width: 500px;
    max-width: 100%;
  }
}

.column-wrapper--maxwidth--470{
  >.vc_column-inner>.wpb_wrapper{
    width: 470px;
    max-width: 100%;
  }
}
.column-wrapper--maxwidth--430{
  >.vc_column-inner>.wpb_wrapper{
    width: 430px;
    max-width: 100%;
  }
}

.element-max-width-280{
  width: 280px;
  max-width: 100%;
}
.element-max-width-560{
  width: 560px;
  max-width: 100%;
}
.element-max-width-630{
  width: 630px;
  max-width: 100%;
}
.element-align--center{
  margin-left: auto;
  margin-right: auto;
}


.column-wrapper--center{
  >.vc_column-inner>.wpb_wrapper{
    margin-left: auto;
    margin-right: auto;
  }
}
.column-wrapper--left{
  >.vc_column-inner>.wpb_wrapper{
    margin-left: 0;
    margin-right: auto;
  }
}
.column-wrapper--right{
  >.vc_column-inner>.wpb_wrapper{
    margin-left: auto;
    margin-right: 0;
  }
}

.font-playfair-display{
  font-family: 'Playfair Display', serif;
}
/** Demo 01
****************************************/
.site-header .header_component.text-color-primary > .component-target{
  color: inherit;
}
.vc_custom_heading a u {
  text-decoration: none;
  font-weight: bold;
  border-bottom: 2px solid #d6d7d7;
}

/** Demo 02
****************************************/
.la-banner-box.banner-type-8{
  &.m2-banner-01{
    .banner--info{
      @media(min-width: 1200px){
        width: 250px;
        text-align: left;
        left: calc( 50% + ((45% - 250px) / 2));
        left: -webkit-calc( 50% + ((45% - 250px) / 2));
        top: 40%;
      }
    }
  }
  &.m2-banner-02{
    .banner--info{
      @media(min-width: 1200px){
        width: 350px;
        left: 50%;
        top: 42%;
      }
      .b-title2{
        @media(min-width: 768px){
          margin-top: 15px;
          margin-bottom: 20px;
        }
      }
    }
  }
}

/** Demo 05
****************************************/
.la-banner-box.banner-type-6{
  &.m5-banner-01{
    .banner--info{
      right: 10%;
      left: auto;
    }
  }
  &.m5-banner-02{

  }
}

/** Demo 06
****************************************/

.m6-product-sliders{
  .slick-slider .slick-arrow{
    border: 1px solid rgba(#393939, 0.3);
    border-radius: 0;
    padding: 10px;
    width: 40px !important;
    height: 40px !important;
    &:hover{
      background: #fff;
      border-color: #fff;
    }
    svg{
      width: 15px;
      vertical-align: top;
    }
  }
}

@media (min-width: 800px) {
  .m6-product-sliders {
    .slick-slider .slick-arrow {
      &.slick-prev{
        left: 50%;
        margin-left: 50px;
      }
      &.slick-next{
        right: 0;
        margin-right: 65px;
      }
    }
  }
}

/** Demo 07
****************************************/

/** Demo 08
****************************************/
.la-banner-box.banner-type-6{
  &.m8-banner-01{
    .banner--info{
      text-align: left;
      @media (min-width: 1024px) {
        right: 10%;
        left: auto;
      }
    }
    .b-title1{
      font-size: 36px;
      font-weight: bold;
      line-height: 1.1;
      color: $secondary-color;
      @media (max-width: 1199px) {
        font-size: 30px;
      }
      @media (max-width: 991px) {
        font-size: 28px;
      }
      @media (max-width: 767px) {
        font-size: 24px;
      }
    }
    .b-title2{
      font-size: 14px;
      padding-bottom: 10px;
      color: $secondary-color;
    }
  }
}


/** Demo 09
****************************************/
.la-separator.custom-line-with-dot{
  overflow: visible;
  background-color: inherit;
  &:after{
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    left: 50%;
    top: -9px;
    z-index: 2;
    margin-left: -10px;
    border: 2px solid #dedede;
  }
  &:before {
    content: "";
    background-color: #fff;
    width: 40px;
    left: 50%;
    margin-left: -20px;
    position: absolute;
    z-index: 1;
    height: 100%;
  }
}

/** Demo 10
****************************************/




/** Coming Soon
****************************************/
.la-headings.boxed-heading{
  border-width: 2px;
  border-style: solid;
  border-color: #fff #fff transparent #fff;
  position: relative;
  padding: 0 30px;
  margin-bottom: 55px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 630px;
  max-width: 100%;
}
.la-headings.boxed-heading:before,
.la-headings.boxed-heading:after{
  content: "";
  width: 50px;
  position: absolute;
  top: 100%;
  border-top: inherit;
  left: -2px;
}
.la-headings.boxed-heading:after{
  right: -2px;
  left: auto;
}
.la-headings.boxed-heading .subheading-tag{
  font-style: italic;
  margin-bottom: -12px;
  display: block;
}
.la-headings.boxed-heading .heading-tag{
  margin-top: 20px;
  margin-bottom: 10px;
}


.mega-menu .mm-popup-wide .inner > ul.sub-menu > li > a{
  font-size: 11px;
  font-weight: normal;
  letter-spacing: 1px;
}
ul.mega-menu .popup li > a {
  font-size: 11px;
  text-transform: uppercase;
}

.mega-menu .mm-popup-wide .inner > ul.sub-menu > li li ul.sub-menu,
.mega-menu .mm-popup-narrow ul,
ul.mega-menu .mm-popup-wide .popup > .inner {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  @extend %border-color-primary;
}


.widget.widget-title-uppercase .widget-title {
  font-weight: normal;
  text-transform: uppercase;
}



/** Blog
****************************************/
@media (min-width: 1199px) {
  .showposts-grid.grid-3.md-grid-1-items .blog_item--title .entry-title {
    font-size: 30px;
    margin-bottom: 10px;
  }
}

.la-lists-icon .la-sc-icon-item.small-icon > span {
  font-size: 6px;
  padding-right: 20px;
}
.showposts-grid.grid-3.md-grid-1-items .blog_item--inner {
  margin-bottom: 50px;
}
.showposts-grid.grid-3.md-grid-1-items .blog_item--thumbnail {
  margin-bottom: 20px;
}


ul.mega-menu .mm-popup-wide.mm-popup-column-3 .popup > .inner {
  padding: 60px;
}
/** END DEMO
****************************************/

.vc_row.row_with_arrow_top {
  position: relative;
  &:before{
    content: "";
    position: absolute;
    border-width: 45px 45px 0;
    border-style: solid;
    border-color: #fff transparent transparent;
    display: block !important;
    left: 50%;
    top: 0;
    margin-left: -45px;
    z-index: 2;
  }
}

.la-custom-btn{
  a {
    font-size: 14px;
    font-weight: bold;
    padding-right: 30px;
    position: relative;
    &:before {
      content: "";
      border-top-width: 2px;
      border-top-color: inherit;
      border-top-style: solid;
      position: absolute;
      width: 10px;
      right: 12px;
      top: 9px;
      transition: inherit;
    }
    &:after {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      border-width: 6px 0 6px 7px;
      border-style: solid;
      border-color: transparent;
      border-left-color: inherit;
      right: 5px;
      top: 4px;
      transition: inherit;
    }
    &:hover{
      &:before{
        right: 7px;
      }
      &:after{
        right: 0;
      }
    }
  }
}


body{
  &.open-burger-menu,
  &.open-search-form,
  &.open-header-aside{
    overflow: hidden;
  }
}

.home.blog:not(.paged) .blog_item.sticky .blog_item--inner {
  background-color: #f3f3f7;
  padding: 30px;
  color: #000;
}
.shop_table .product-thumbnail img {
  max-width: 70px;
}
.home.blog .la-breadcrumbs {
  display: none;
}

.single_post_item--category-link + .single_post_item--meta {
  margin-top: 5px;
}
.single_post_item--category-link:first-child {
  margin-top: 0;
}

.page-links > a,
.page-links > span:not(.screen-reader-text) {
  margin-right: 10px;
  display: inline-block;
}

body:not(.isLaWebRoot) .single-post-content > .entry-thumbnail a {
  display: inline-block;
}
.commentlist li[id*="pingback-comment"] {
  margin-bottom: 15px;
}
.commentlist li[id*="pingback-comment"] + .comment {
  padding-top: 30px;
}
.commentlist li[id*="pingback-comment"] a.url {
  margin: 0 5px;
  color: #dcb86c;
}
.commentlist li[id*="pingback-comment"] a.url:hover{
  text-decoration: underline;
}

.single-post-detail .comments-area .comment-text table{
  font-size: 12px;
}

.site-header-top.use-custom-html{
  .header-top-left{
    float: left;
  }
  .header-top-right{
    float: right;
  }
}

.header_component .social-media-link {
  line-height: 20px;
  margin-top: 10px;
}

.site-main-nav .main-menu{
  > li > a{
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  &:hover{
    > li{
      > a{
        opacity: 0.4;
      }
      &:hover{
        > a{
          opacity: 1;
        }
      }
    }
  }
}


@media (max-width: 800px) {
  .la-breadcrumbs:not(.use-custom-text){
    font-size: 10px;
    letter-spacing: 0;
  }
}