.wpb-js-composer{
  .vc_tta-panel-body{
    .products{
      padding-top: 30px;
    }
  }
  [class*="vc_tta-la-"]{
    .vc_tta-panel{
      .vc_tta-panel-body{
        visibility: hidden;
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: padding .2s ease-in-out;
      }
    }
    .vc_active{
      .vc_tta-panel-body{
        visibility: visible;
        overflow: visible;
        opacity: 1;
        height: auto !important;
        animation: in-bottom50 450ms ease 0ms 1 forwards;
        -webkit-animation: in-bottom50 450ms ease 0ms 1 forwards;
      }
      .vc_tta-panel-heading{
        .vc_tta-panel-title{
          @extend %text-color-primary;
          a{
            border-bottom: 1px solid;
            padding-bottom: 5px;
            display: inline-block;
            @media(max-width: 767px){
              padding-bottom: 0px;
            }
          }
        }
      }
    }
    .vc_tta-panel-heading{
      margin: 10px 0;
      .vc_tta-panel-title{
        margin: 0;
        line-height: normal;
        @media(max-width: 767px){
          font-size: 14px;
        }
      }
    }
  }
}

[class*="vc_tta-la-"]{
  > h2{
    display: none;
  }
  .vc_tta-tabs-list{
    list-style: none;
    margin: 15px 0 20px;
    padding: 0;
    line-height: 24px;
    li{
      display: inline-block;
      margin: 0 10px;
      padding: 0 10px;
      vertical-align: middle;
      @extend %text-color-secondary;
      &:hover > a,
      &.vc_active > a{
        @extend %text-color-primary;
      }
    }
    a{
      padding: 0;
      position: relative;
      display: block;
      color: inherit;
    }
  }
  .tabs-la-1{
    .vc_tta-tabs-list {
      font-size: 14px;
      li{
        margin: 0 5px;
        a{

        }
      }
    }
  }
  .tabs-la-2{
    .vc_tta-tabs-list {
      font-size: 14px;
      li{
        margin: 0 5px;
        padding: 5px;
        a{
          &:after{
            content: "";
            bottom: -15px;
            left: 50%;
            width: 0;
            margin-left: -5px;
            position: absolute;
            border-width: 4px 5px 0;
            border-style: solid;
            border-color: transparent;
            @include single-transition();
          }
        }
        &:hover > a,
        &.vc_active > a{
          &:after{
            border-top-color: inherit;
          }
        }
      }
    }
  }

  .tabs-la-3,
  .tabs-la-4{
    .vc_tta-tabs-list{
      li{
        padding: 0;
        margin: 0 5px;
        a{
          border-width: 1px;
          border-style: solid;
          padding: 9px 20px;
        }
      }
    }
    &.vc_tta-controls-align-right{
      .vc_tta-tabs-list li{
        margin-right: 0;
      }
    }
    &.vc_tta-controls-align-left{
      .vc_tta-tabs-list li{
        margin-left: 0;
      }
    }
  }
  .tabs-la-3{
    .vc_tta-tabs-list{
      li{
        &:hover{
          a{
            @extend %text-color-three;
            @extend %border-color-three;
          }
        }
        &.vc_active{
          a{
            @extend %text-color-primary;
            @extend %border-color-primary;
          }
        }
      }
    }
  }
  .tabs-la-4{
    .vc_tta-tabs-list{
      font-size: 12px;
      li{
        a{
          @extend %border-color;
          @extend %text-color-body;
        }
        &.vc_active,
        &:hover{
          a{
            border-color: inherit;
            @extend %text-color-secondary;
          }
        }
      }
    }
  }
  .tabs-la-5{
    &.vc_tta-controls-align-left{
      .vc_tta-tabs-list{
        li{
          padding-left: 0;
          padding-right: 10px;
        }
      }
    }
    &.vc_tta-controls-align-right{
      .vc_tta-tabs-list{
        li{
          padding-left: 0;
          padding-right: 10px;
          &:last-child{
            padding-right: 0;
          }
        }
      }
    }
    &.vc_tta-controls-align-center{
      .vc_tta-tabs-list{
        li{
          &:last-child{
            padding-right: 0;
          }
          &:first-child{
            padding-left: 0;
          }
        }
      }
    }
    .vc_tta-tabs-list{
      font-size: 14px;
      line-height: normal;
      margin-bottom: 0;
      li{
        margin: 0;
        padding: 0 5px;
        a{
          @extend %text-color-secondary;
          background-color: rgba(#ffffff, 0.6);
          padding: 15px 35px;
          line-height: 22px;
        }
        &:not(.vc_active){
          a{
            font-weight: 500;
          }
        }
        &.vc_active{
          a{
            font-weight: bold;
            @extend %text-color-primary;
            background-color: #fff;
          }
        }
      }
    }
    .wpb_content_element{
      &:last-child{
        margin-bottom: 0;
      }
    }
    .vc_tta-panels-container{
      .vc_tta-panels{
        .vc_tta-panel{
          .vc_tta-panel-body{
            background-color: #fff;
            padding: 35px;
            display: none;
            @include transition(none);
          }
          &.vc_active{
            .vc_tta-panel-body{
              display: block;
            }
          }
        }
      }
    }
  }

  .tabs-la-6{
    .vc_tta-tabs-list {
      margin: 0 0 25px;
      li{
        color: inherit;
        a{
          &:after{
            content: "";
            border-width: 0 0 2px;
            border-style: solid;
            border-color: transparent;
            transition: all 250ms ease-out;
            display: block;
            width: 100%;
            margin-top: -2px;
            @include single-transition();
          }
        }
        &:hover > a,
        &.vc_active > a{
          @extend %text-color-secondary;
          &:after{
            border-color: inherit;
          }
        }
      }
    }
  }
  .tour-la-1{
    &.vc_tta-controls-size-md{
      display: block !important;
      @media (min-width: 768px) {
        .vc_tta-tabs-container{
          float: left;
          width: 27%;
        }
        .vc_tta-panels-container{
          float: left;
          width: 73%;
        }
        .vc_tta-tabs-list{
          border: 1px solid #e1e1e1;
          margin-top: 30px;
        }
        &.vc_tta-tabs-position-left{
          .vc_tta-tabs-list{
            margin-right: 30px;
          }
        }
        &.vc_tta-tabs-position-right{
          .vc_tta-tabs-list{
            margin-left: 30px;
          }
        }
      }
      .vc_tta-tabs-list {
        li{
          a{
            padding: 0 35px;
          }
        }
      }
    }
    .vc_tta-tabs-list {
      -webkit-box-flex: inherit !important;
      -webkit-flex-grow: inherit !important;
      -ms-flex-positive: inherit !important;
      flex-grow: inherit !important;
      padding-top: 30px;
      padding-bottom: 10px;
      li{
        font-size: 0.85em;
        letter-spacing: 1px;
        padding: 0;
        margin: 0 0 20px;
        a{
          padding: 0 10px;
        }
      }
    }
    &.vc_tta-tabs-position-left{
      .vc_tta-tabs-list {
        .vc_tta-tab.vc_active{
          a{
            &:before{
              content: "";
              border-left-width: 2px;
              border-left-style: solid;
              border-left-color: inherit;
              position: absolute;
              left: 0 !important;
              height: 8px;
              top: 50% !important;
              bottom: auto !important;
              margin-top: -5px;
            }
          }
        }
      }
    }
    &.vc_tta-tabs-position-right{
      .vc_tta-tabs-list {
        .vc_tta-tab.vc_active{
          a{
            &:before{
              content: "";
              border-right-width: 2px;
              border-right-style: solid;
              border-right-color: inherit;
              position: absolute;
              right: 0 !important;
              height: 8px;
              top: 50% !important;
              bottom: auto !important;
              margin-top: -5px;
            }
          }
        }
      }
    }
  }
}

.wpb-js-composer .vc_tta-container{
  .elm-ajax-container-wrapper{
    display: none;
  }
  .vc_active{
    .elm-ajax-container-wrapper{
      display: block;
    }
  }
}
