


.la_testimonials--style-5{
  .testimonial_item--image{
    display: none;
  }
  .testimonial_item--excerpt{
    font-size: 40px;
    line-height: 1.5;
    @extend %text-color-primary;
    @extend %highlight-font-family;
  }
  .testimonial_item--title-role{
    margin-top: 20px;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bold;
    color: #fff;
  }
  .testimonial_item--title{
    display: inline-block;
  }
  .testimonial_item--role{
    display: inline-block;
    &:before{
      content: "-";
      padding: 0 5px;
    }
  }
}

.la_testimonials--style-6{
  .testimonial_item--inner{
    padding: 40px 40px 40px 140px;
    background-color: #fff;
    margin-bottom: 0;
    text-align: left;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.16);
    -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.16);
  }
  .testimonial_item--info {
    margin-bottom: 15px;
  }
  .testimonial_item--image{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 30px;
    background-color: #fcfcfc;
    @include border-radius(50%);
    img{
      @include border-radius(50%);
    }
  }
  .testimonial_item--title {
    font-size: 18px;
    font-weight: bold;
    line-height: normal;
    display: inline-block;
    margin-right: 5px;
    @extend %text-color-secondary;
  }
  .testimonial_item--role{
    display: inline-block;
  }
}

.la_testimonials--style-7{
  .testimonial_item--image{
    width: 70px;
    height: 70px;
    display: block;
    margin: 0 auto;
    @include border-radius(50%);
  }
  .testimonial_item--excerpt{
    font-size: 18px;
    margin-top: 25px;
    @extend %highlight-font-family;
  }
  .testimonial_item--bottom{
    display: none;
  }
}
