.blog_item--category-link{
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  a{
    &:not(:last-child){
      &:after{
        content: ", ";
      }
    }
  }
}

.blog_item--excerpt{
  margin-bottom: 25px;
}

.blog_item--title{
  .entry-title{
    margin: 5px 0 12px;
    font-weight: normal;
  }
}

.blog_item--meta{
  margin-bottom: 15px;
  font-size: 12px;
  > span{
    display: inline-block;
    line-height: normal;
    margin-right: 10px;
  }
  .author{
    .screen-reader-text{
      display: inline;
      font-weight: normal;
    }
  }
  [class*="dl-"]{
    vertical-align: middle;
    line-height: inherit;
    padding-right: 5px;
  }
}


.blog_item--thumbnail{
  position: relative;
  margin-bottom: 15px;
  > a{
    position: relative;
    display: block;
    overflow: hidden;
  }
  img{
    width: 100%;
    @include transition(all .15s ease-in-out);
  }
  .post-link-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  .format-content {
    padding: 40px;
  }
  &.format-quote{
    .format-quote-content{
      font-size: 28px;
      font-style: normal;
      line-height: normal;
      @extend %three-font-family;
    }
    .quote-author{
      font-size: 16px;
      display: inline-block;
      position: relative;
    }
  }
  &.format-link{
    img{
      + .format-content{
        position: absolute;
        top: 50%;
        width: 100%;
        background-color: transparent;
        color: #fff;
        @include translate2d(0,-50%);
        left: 0;
        z-index: 2;
      }
      ~ .post-link-overlay{
        background-color: #232324;
        z-index: 0;
        opacity: 0.5;
      }
    }
    .format-content{
      background-color: #f7f7f7;
      font-size: 24px;
      line-height: 1.2;
      color: #343538;
      white-space: pre-wrap;
      word-wrap: break-word;
      text-align: center;
      &:before{
        content: "\f0c1";
        font-family: FontAwesome;
        background-color: $primary-color;
        color: #fff;
        width: 50px;
        height: 50px;
        display: block;
        line-height: 50px;
        margin: 0 auto 15px;
        border-radius: 50%;
        text-align: center;
      }
    }
  }
}

.blog_item--thumbnail-with-effect{
  .pf-icon{
    @include transition(all .15s ease-in-out);
    @include opacity(0);
    @include border-radius(50%);
    visibility: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    z-index: 4;
    margin-top: -20px;
    margin-left: -20px;
    font-family: "dl-icon";
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &:before{
      content: "\28";
    }
  }
  .item--overlay{
    visibility: visible;
    @include transition(opacity .25s ease-in-out);
    background-color: rgba(#343538, 0.6);
  }
  &:hover{
    img{
      @include scale(1.05);
    }
    .pf-icon{
      @include opacity(1);
      visibility: visible;
    }
    .item--overlay{
      @include opacity(1);
    }
  }
}


.blog-main-loop__btn-loadmore{
  text-align: center;
  &.nothing-to-load,
  &.loading{
    display: none;
  }
  + .la-pagination{
    display: none;
  }
}

.main--loop-container .la-pagination {
  margin-top: 50px;
  margin-bottom: 50px;
}

.format-gallery{
  .la-slick-slider{
    .slick-arrow{
      background-color: #fff;
      font-size: 24px;
      bottom: 30px;
      top: auto;
      left: 50%;
      @include border-radius(50%);
      @include transform(none);
      opacity: 0.4;
      vertical-align: middle;
      line-height: normal;
      &:hover{
        opacity: 1;
      }
    }
    .slick-prev{
      margin-left: -55px;
    }
    .slick-next{
      margin-right: -55px;
    }
  }
}

.blog_item.show-format-content{
  &.format-video{
    .blog_item--thumbnail{
      &:not(:hover){
        .item--overlay{
          opacity: 0.5;
          visibility: visible;
          background-color: #232324;
        }
      }
    }
    .pf-icon-video{
      font-family: FontAwesome;
      opacity: 0.7;
      visibility: visible;
      width: 60px;
      height: 60px;
      line-height: 60px;
      background-color: transparent;
      color: #fff;
      border: 1px solid;
      &:before{
        content: "\f04b";
        margin-left: 3px;
      }
      &:hover{
        border-color: transparent;
      }
    }
  }
  &.format-audio{
    .blog_item--thumbnail{
      &:not(:hover){
        .item--overlay{
          opacity: 0.5;
          visibility: visible;
          background-color: #232324;
        }
      }
    }
    .pf-icon-audio{
      font-family: FontAwesome;
      opacity: 0.7;
      visibility: visible;
      width: 60px;
      height: 60px;
      line-height: 60px;
      &:before{
        content: "\f001";
      }
    }
  }
}

.show-featured-image.has-post-thumbnail.format-quote{
  .blog_item--thumbnail{
    overflow: hidden;
    .fq-wrapper{
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
    }
    .wp-post-image{
      opacity: 0;
      visibility: hidden;
    }
    .format-content{
      position: absolute;
      left: 50%;
      width: 800px;
      max-width: 100%;
      text-align: center;
      padding: 20px;
      top: 50%;
      @include translate2d(-50%,-50%)
    }
  }
}
.format-quote{
  > .blog_item--thumbnail{
    position: relative;
    overflow: hidden;
  }
}

.la-showposts .showposts-loop .blog_item--excerpt {
  line-height: 30px;
}

.showposts-loop{
  .blog_item--inner{
    width: 100%;
  }
  .btn-readmore{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    &.btn{
      padding: 10px 30px;
      min-width: 160px;
      border-radius: 2.5em;
      border-width: 1px;
      border-style: solid;
      background-color: transparent;
      line-height: 28px;
      @extend %border-color;
      @extend %text-color-secondary;
      &:hover{
        color: #fff;
        @extend %background-color-secondary;
        @extend %border-color-secondary;
      }
    }
  }
}
.showposts-grid{
  &.grid-space-default{
    .blog_item--inner{
      margin-bottom: 35px;
    }
  }
  &.grid-1{
    .blog_item--info{
      text-align: center;
    }
    .blog_item--meta-footer{
      display: none;
    }
  }
  &.grid-2{
    .blog_item--thumbnail{
      margin-bottom: 0;
    }
    .blog_item--info{
      padding: 40px 30px 30px;
      border-width: 0 1px 1px 1px;
      border-style: solid;
      @extend %border-color;
      @media (max-width: 992px) {
        padding: 20px;
      }
    }
    .blog_item--excerpt{
      font-size: 12px;
      margin-bottom: 20px;
      line-height: 24px;
    }
    .blog_item--meta-footer{
      > div{
        display: inline-block;
      }
      .la-favorite-link{
        margin-right: 20px;
      }
      i + span{
        padding-left: 5px;
      }
    }
  }
  &.grid-4{
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    .blog_item {
      display: -webkit-flex;
      display: flex;
      &:hover{
        .thumb-overlay{
          @include scale(1);
          &:before{
            opacity: 0.9;
          }
        }
        .blog_item--info2 {
          @include translate2d(0, 0);
        }
        .blog_item--excerpt,
        .blog_item--meta-footer{
          opacity: 1;
          visibility: visible;
        }
      }
    }
    .blog_item--inner2{
      position: relative;
      overflow: hidden;
    }
    .thumb-overlay {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-size: cover;
      background-position: center;
      transition: transform 1s ease-in-out;
      @include scale(1.05);
      &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #232324;
        transition: all 0.5s ease-in-out;
        opacity: 0.3;
      }
    }
    .entry-title{
      color: inherit;
      margin-top: 25px;
    }
    .blog_item--info {
      position: relative;
      z-index: 1;
      padding: 100px 30px 30px;
      color: #fff;
      overflow: hidden;
    }
    .blog_item--category-link{
      background-color: #fff;
      position: absolute;
      padding: 9px 15px;
      top: 30px;
      color: #8a8a8a;
      a ~ a:after,
      a ~ a ~ a{
        display: none;
      }
    }
    .blog_item--excerpt {
      margin-bottom: 10px;
    }
    .btn-readmore{
      display: inline-block;
      letter-spacing: 1px;
      border-bottom: 1px solid;
      line-height: 1;
    }
    .blog_item--excerpt,
    .blog_item--meta-footer{
      opacity: 0;
      transition: all 0.5s ease-in-out .2s;
      visibility: hidden;
    }
    .blog_item--info2 {
      transition: all 0.5s ease-in-out;
      @include translate2d(0, 60%);
    }
  }
}

.showposts-list{
  &.list-1{
    .blog_item--inner{
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .blog_item--inner2 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
      align-content: flex-start;
      -webkit-align-items: center;
      align-items: center;
    }

    .blog_item--thumbnail{
      width: 57%;
      margin-bottom: 0;
    }
    .blog_item--info{
      padding-left: 5%;
      width: 43%;
      padding-top: 15px;
      padding-bottom: 15px;
    }
    .blog_item--excerpt{
      padding-top: 25px;
      padding-bottom: 15px;
    }
  }
  &.list-2{
    .blog_item--inner2{
      overflow: hidden;
      position: relative;
    }
    .thumb-overlay {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-size: cover;
      background-position: center;
      z-index: -1;
      opacity: 0;
      transition: all 0.3s ease-in-out;
      &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #232324;
        opacity: 0.7;
      }
    }
    .blog_item--info{
      width: 770px;
      max-width: 100%;
      margin: 0 auto;
      border-bottom: 1px solid #e5e5e5;
      padding-top: 30px;
      padding-bottom: 35px;
    }
    .blog_item--excerpt{
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .has-post-thumbnail{
      &:hover{
        .blog_item--info{
          border-color: transparent;
        }
        .thumb-overlay {
          opacity: 1;
        }
        .blog_item--info{
          color: #fff;
        }
        .entry-title{
          color: inherit;
        }
        .btn-readmore:not(:hover){
          color: #fff;
          border-color: rgba(#d4d4d4, .4);
        }
      }
    }
  }
}

.showposts-special{
  &.special-1{
    .blog-special-right{
      @media (max-width: 767px){
        margin-top: 30px;
      }
      .blog_item--inner2{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
        align-content: flex-start;
      }
      .blog_item--thumbnail{
        width: 29%;
        margin: 0 30px 30px 0;
        @media (max-width: 480px){
          display: none;
        }
      }
      .blog_item--info{
        width: 65%;
        width: calc( 71% - 30px );
        width: -webkit-calc( 71% - 30px );
        @media (max-width: 480px){
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 1199px){
  .showposts-list.list-1 .blog_item--inner {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .showposts-list.list-1 .blog_item--info{
    padding-left: 3%;
  }
  .showposts-list.list-1 .blog_item--excerpt {
    padding-top: 5px;
    padding-bottom: 0;
  }
}

@media (max-width: 767px){
  .showposts-list.list-1 .blog_item--thumbnail{
    width: 100%;
  }
  .showposts-list.list-1 .blog_item--info{
    width: 100%;
    padding: 15px 0;
  }
}