.testimonial_item{
  text-align: center;
  .item--rating{
    display: none;
  }
  .testimonial_item--inner{
    margin-bottom: 20px;
  }
  .testimonial_item--image{
    span{
      width: 64px;
      height: 64px;
      display: block;
      margin: 0 auto;
      @include border-radius(50%);
      overflow: hidden;
      background: {
        size: cover;
        position: center;
        repeat: no-repeat;
      }
    }
  }
}